:root {
    --primary-text-color: #131313;
    --title-text-color: #000000;
    --title-text-color-secondary:#FCFCFC;
    --background-color: #84A178;
    --button-color: #F8D24E;
    --button-color-accent: #0A8817;
    --button-text-black: #000000;
    --button-text-white: #FCFCFC;
    --transition-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --dots-color: #D9D9D9;
    --dots-color-active:#84A178;
    --transition-dur-func: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
    --background-icecoffee-modal-window:#EFD478;
    --background-milkshake-modal-window: #D6936D;
    --background-icecream-modal-window:#96AF8C;

    --indent: 30px;
    --items: 3;
    --text-color:#FFFFFF;

}