<section class="customer">
  <div class="customer-box">
    <h2 class="customer-box__title visually-hidden">customer reviews</h2>
    <ul class="customer-box__list">
      <li class="customer-box__items">
        <div class="customer-box__slider">
          <img
            width="200px"
            height="150px"
            src="./images/logo.png"
            alt="clients photo"
            class="customer-box__img"
          />
          <p class="customer-box__comment">
            I love visiting your cafe. You prepare the most delicious ice cream
            in Los Angeles! In addition, you have beautiful serving, cozy
            atmosphere and polite staff.
          </p>
          <p class="customer-box__name">Emily, Los Angeles</p>
        </div>
      </li>
      <li class="customer-box__items">
        <div class="customer-box__slider">
          <img
            width="200px"
            height="150px"
            src="./images/logo.png"
            alt="clients photo"
            class="customer-box__img"
          />
          <p class="customer-box__comment">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet,
            dolores!
          </p>
          <p class="customer-box__name">Nick,New York</p>
        </div>
      </li>
      <li class="customer-box__items">
        <div class="customer-box__slider">
          <img
            width="100px"
            height="150px"
            src="./images/logo.png"
            alt="clients photo"
            class="customer-box__img"
          />
          <p class="customer-box__comment">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta,
            et.
          </p>
          <p class="customer-box__name">Frad,Brooklyn</p>
        </div>
      </li>
      <li class="customer-box__items">
        <div class="customer-box__slider">
          <img
            width="200px"
            height="150px"
            src="./images/logo.png"
            alt="clients photo"
            class="customer-box__img"
          />
          <p class="customer-box__comment">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo,
            asperiores.logo.png
          </p>
          <p class="customer-box__name">JC,Texas</p>
        </div>
      </li>
    </ul>
  </div>
</section>
