<section class="customer">
  <div class="customer-box">
    <h2 class="customer-box__title visually-hidden">customer reviews</h2>
    <ul class="customer-box__list one-time">
      <li class="customer-box__items">
        <div class="customer-box__slider">
          <picture>
            <source
              srcset="
                ./images/galary&customers/customer1.jpg    1x,
                ./images/galary&customers/customer1@2x.jpg 2x
              "
              media="(min-width:1200px)" />
            <source
              srcset="
                ./images/galary&customers/customer1.jpg    1x,
                ./images/galary&customers/customer1@2x.jpg 2x
              "
              media="(min-width:768px)" />
            <source
              srcset="
                ./images/galary&customers/customer1.jpg    1x,
                ./images/galary&customers/customer1@2x.jpg 2x
              "
              media="(max-width:767px)" />
            <img
              width="200"
              height="150"
              src="/src/images/galary&customers/customer1.jpg"
              alt="clients photo"
              class="customer-box__img"
          /></picture>
          <p class="customer-box__comment">
            I love visiting your cafe. You prepare the most delicious ice cream
            in Los Angeles! In addition, you have beautiful serving, cozy
            atmosphere and polite staff.
          </p>
          <p class="customer-box__name">Emily, Los Angeles</p>
        </div>
      </li>
      <li class="customer-box__items">
        <div class="customer-box__slider">
          <picture>
            <source
              srcset="
                ./images/galary&customers/customer2.jpg    1x,
                ./images/galary&customers/customer2@2x.jpg 2x
              "
              media="(min-width:1200px)" />
            <source
              srcset="
                ./images/galary&customers/customer2.jpg    1x,
                ./images/galary&customers/customer2@2x.jpg 2x
              "
              media="(min-width:768px)" />
            <source
              srcset="
                ./images/galary&customers/customer2.jpg    1x,
                ./images/galary&customers/customer2@2x.jpg 2x
              "
              media="(max-width:767px)" />
            <img
              width="200"
              height="150"
              src="/src/images/galary&customers/customer2.jpg"
              alt="clients photo"
              class="customer-box__img"
          /></picture>
          <p class="customer-box__comment">
            Ice cream is my passion! I love your chocolate hazelnut ice cream!
            And I really like the excellent service - always served politely and
            quickly!
          </p>
          <p class="customer-box__name">Diana, Chicago</p>
        </div>
      </li>
      <li class="customer-box__items">
        <div class="customer-box__slider">
          <picture>
            <source
              srcset="
                ./images/galary&customers/customer3.jpg    1x,
                ./images/galary&customers/customer3@2x.jpg 2x
              "
              media="(min-width:1200px)" />
            <source
              srcset="
                ./images/galary&customers/customer3.jpg    1x,
                ./images/galary&customers/customer3@2x.jpg 2x
              "
              media="(min-width:768px)" />
            <source
              srcset="
                ./images/galary&customers/customer3.jpg    1x,
                ./images/galary&customers/customer3@2x.jpg 2x
              "
              media="(max-width:767px)" />
            <img
              width="100"
              height="150"
              src="/src/images/galary&customers/customer3.jpg"
              alt="clients photo"
              class="customer-box__img"
          /></picture>
          <p class="customer-box__comment">
            I love eating popsicles on a hot day. Yours is always delicious. I
            recommend your cafe to everyone I know.
          </p>
          <p class="customer-box__name">Sam, Los Angeles</p>
        </div>
      </li>
      <li class="customer-box__items">
        <div class="customer-box__slider">
          <picture>
            <source
              srcset="
                ./images/galary&customers/customer4.jpg    1x,
                ./images/galary&customers/customer4@2x.jpg 2x
              "
              media="(min-width:1200px)" />
            <source
              srcset="
                ./images/galary&customers/customer4.jpg    1x,
                ./images/galary&customers/customer4@2x.jpg 2x
              "
              media="(min-width:768px)" />
            <source
              srcset="
                ./images/galary&customers/customer4.jpg    1x,
                ./images/galary&customers/customer4@2x.jpg 2x
              "
              media="(max-width:767px)" />
            <img
              width="200"
              height="150"
              src="/src/images/galary&customers/customer4.jpg"
              alt="clients photo"
              class="customer-box__img"
          /></picture>
          <p class="customer-box__comment">
            Every day we come to you with friends after classes in college. We
            love your ice cream and casual atmosphere!
          </p>
          <p class="customer-box__name">Bryan, New-York</p>
        </div>
      </li>
    </ul>
  </div>
</section>
