<footer class="footer container">
    <div class="footer-info">
    <div class="footer-tagline">
        <p class="footer-tagline_thin">homemade ice cream made </p>
        <p class="footer-tagline_thick">with passion</p>
                <div class="overlay">
                    <img src="./images/tiger.jpg" alt="Tiger with ice cream" width="140" height="140">
                    <p class="joke">Thank you for watching the I-Tigers team`s work!!!</p>
                </div>
    </div>
    <div class="footer-contact">
        <ul class="footer-contact__list list">
            <li class="footer-contact__social link">
                <a href="https://github.com/" class="footer-contact__link-social link">
                    <svg class="social-link__icon " width="20" height="20">
                    <use href="./images/social.svg#github"></use>
                </svg> 
                </a>
            </li>
                <li class="footer-contact__social link">
                <a href="https://web.telegram.org/k/" class="footer-contact__link-social link">
                    <svg class="social-link__icon " width="20" height="20">
                    <use href="./images/social.svg#telegram"></use>
                </svg> 
                </a>
            </li>
                <li class="footer-contact__social link">
                <a href="https://www.facebook.com/" class="footer-contact__link-social link">
                    <svg class="social-link__icon " width="20" height="20">
                    <use href="./images/social.svg#facebook"></use>
                </svg> 
                </a>
            </li>
        </ul>
        <p class="footer-contact__text">Feel free to contact <span><a class="footer-contact__tel link" href="tel:+610383766284">+61 (0) 383 766 284</a></span></p>
        
    </div>
    </div>
    <div class="copyright">
        <p class="copyright__text">&copy; 2022 - IceCream. All Rights Reserved. </p>
    </div>
</footer>