<section class="galary">
  <div class="galary-icecream">
    <h2 class="galary-icecream__title visually-hidden">galary</h2>
    <ul class="galary-icecream__list">
      <li class="galary-icecream__items">
        <img
          width="200px"
          height="150px"
          src="./images/logo.png"
          alt="ice-cream"
          class="galary-icecream__img"
        />
      </li>
      <li class="galary-icecream__items">
        <img
          width="200px"
          height="150px"
          src="./images/logo.png"
          alt="ice-cream"
          class="galary-icecream__img"
        />
      </li>
      <li class="galary-icecream__items">
        <img
          width="200px"
          height="150px"
          src="./images/logo.png"
          alt="ice-cream"
          class="galary-icecream__img"
        />
      </li>
      <li class="galary-icecream__items">
        <img
          width="200px"
          height="150px"
          src="./images/logo.png"
          alt="ice-cream"
          class="galary-icecream__img"
        />
      </li>
    </ul>
  </div>
</section>
