<section class="galary">
  <div class="galary-icecream">
    <h2 class="galary-icecream__title visually-hidden">galary</h2>
    <ul class="galary-icecream__list carousel">
      <li class="galary-icecream__items">
        <img
          src="./images/pexels-sebastian-coman-photography-3625371 (1).jpg"
          alt="ice-cream"
          class="galary-icecream__img"
        />
      </li>
      <li class="galary-icecream__items">
        <img
          src="./images/pexels-sebastian-coman-photography-3625373 (1).jpg"
          alt="ice-cream"
          class="galary-icecream__img"
        />
      </li>
      <li class="galary-icecream__items">
        <img
          src="./images/pexels-cats-coming-7774551 (1).jpg"
          alt="ice-cream"
          class="galary-icecream__img"
        />
      </li>
      <li class="galary-icecream__items">
        <img
          src="./images/pexels-cats-coming-7774551 (1).jpg"
          alt="ice-cream"
          class="galary-icecream__img"
        />
      </li>
    </ul>
  </div>
</section>
