<header class="container header-container">
  <div class="header" id="home">
    <a class="link header-logo" href="#">
      <svg class="header-logo__icon">
        <use href="./images/sprite.svg#logo-icon"></use>
      </svg>
    </a>
    <nav class="header-nav">
      <ul class="header-nav__menu">
        <li class="list header-nav__list">
          <a class="link header-nav__item" href="#home">Home</a>
        </li>
        <li class="list header-nav__list">
          <a class="link header-nav__item" href="#made">How it’s made?</a>
        </li>
        <li class="list header-nav__list">
          <a class="link header-nav__item" href="#products">Our products</a>
        </li>
        <li class="list header-nav__list">
          <a class="link header-nav__item" href="#contact">Contact</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="header-btn-burger" data-menu-open>
      <svg class="header-btn-burger__icon-burger">
        <use href="./images/sprite.svg#burger-icon"></use>
      </svg>
    </button>

    <button
      type="button"
      class="header-btn-modal button-color"
      data-modal-buynow-open
    >
      Buy now
      <svg class="header-btn-modal__icon">
        <use href="./images/sprite.svg#more-icon"></use>
      </svg>
    </button>
  </div>
  <div class="mobile-menu" data-menu>
    <div class="container mobile-menu__container">
      <a class="link header-logo" href="#">
        <svg class="header-logo__icon">
          <use href="./images/sprite1.svg#logo-icon"></use>
        </svg>
      </a>
      <button type="button" class="mobile-menu__close-btn" data-menu-close>
        <svg class="mobile-menu__close-icon" width="20" height="20">
          <use href="./images/sprite.svg#mobile-close-icon"></use>
        </svg>
      </button>
      <ul class="mobile-menu__list" data-menu-close-link>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link link" href="#home">Home</a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link link" href="#made">How it’s made?</a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link link" href="#products">Our products</a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link link" href="#contact">Contact</a>
        </li>
      </ul>
      <button
        type="button"
        class="mobile-menu__modal-btn"
        data-modal-buynow-mobile-open
      >
        <span>Buy now</span>
        <svg class="mobile-menu__modal-btn__icon" width="5">
          <use href="./images/sprite.svg#more-icon"></use>
        </svg>
      </button>
    </div>
  </div>
  <section class="hero">
    <h1 class="hero-title">
      ice cream made with <span class="hero-title_upper">passion</span>
    </h1>

    <ul class="hero-menu">
      <li class="list hero-menu__list">
        <a class="link hero-menu__item_pr" href="#products">Products</a>
      </li>
      <li class="list hero-menu__list">
        <a class="link hero-menu__item_md" href="#made">How it’s made?</a>
      </li>
    </ul>

    <div class="hero-text">
      <p class="hero-desc">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <a class="link hero-desc__link" href="#">
        <svg class="hero-desc__icon">
          <use href="./images/sprite.svg#arrow-icon"></use>
        </svg>
      </a>
    </div>

    <ul class="hero-progress">
      <li class="list hero-progress__list">
        <p class="hero-progress__amount">16</p>
      </li>
      <li class="list hero-progress__list">
        <p class="hero-progress__products">cafes</p>
      </li>
      <li class="list hero-progress__list">
        <p class="hero-progress__amount">23</p>
      </li>
      <li class="list hero-progress__list">
        <p class="hero-progress__products">food trucks</p>
      </li>
    </ul>

    <div class="hero-many-ice-cream">
      <picture>
        <source
          srcset="
            ./images/hero/many-ice-cream/desktop/ice.png    1x,
            ./images/hero/many-ice-cream/desktop/ice@2x.png 2x
          "
          media="(min-width: 1200px)"
        />

        <source
          srcset="
            ./images/hero/many-ice-cream/tablet/ice.png    1x,
            ./images/hero/many-ice-cream/tablet/ice@2x.png 2x
          "
          media="(min-width: 768px)"
        />

        <img
          class=""
          src="./images/hero/many-ice-cream/tablet/ice.png"
          alt="Фотография мороженого"
        />
      </picture>
    </div>

    <div class="hero-big-ice-cr">
      <picture>
        <source
          srcset="
            ./images/hero/ice/desktop/ice.png    1x,
            ./images/hero/ice/desktop/ice@2x.png 2x
          "
          media="(min-width: 1200px)"
        />

        <source
          srcset="
            ./images/hero/ice/tablet/ice.png    1x,
            ./images/hero/ice/tablet/ice@2x.png 2x
          "
          media="(min-width: 768px)"
        />

        <source
          srcset="
            ./images/hero/ice/mobile/ice.png    1x,
            ./images/hero/ice/mobile/ice@2x.png 2x
          "
          media="(max-width: 767px)"
        />

        <img
          class=""
          src="./images/hero/ice/mobile/ice.png"
          alt="Фотография мороженого"
        />
      </picture>
      <svg class="hero-big-ice-cr_gr">
        <use href="./images/sprite.svg#gr"></use>
      </svg>
      <svg class="hero-big-ice-cr_r">
        <use href="./images/sprite.svg#r"></use>
      </svg>
      <svg class="hero-big-ice-cr_y">
        <use href="./images/sprite.svg#y"></use>
      </svg>
    </div>
  </section>
</header>
