<header class="container header-container">
  <div class="header" id="home">
    <a class="link header-logo" href="#">
      <svg class="header-logo__icon">
        <use href="./images/sprite1.svg#logo-icon"></use>
      </svg>
    </a>
    <nav class="header-nav">
      <ul class="header-nav__menu">
        <li class="list header-nav__list">
          <a class="link header-nav__item" href="#home">Home</a>
        </li>
        <li class="list header-nav__list">
          <a class="link header-nav__item" href="#about">About us</a>
        </li>
        <li class="list header-nav__list">
          <a class="link header-nav__item" href="#made">How it’s made?</a>
        </li>
        <li class="list header-nav__list">
          <a class="link header-nav__item" href="#products">Our products</a>
        </li>
        <li class="list header-nav__list">
          <a class="link header-nav__item" href="#contact">Contact</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="header-btn-burger">
      <svg class="header-btn-burger__icon-burger">
        <use href="./images/sprite1.svg#burger-icon"></use>
      </svg>
    </button>
    <button type="button" class="button header-btn-modal" data-modal-buynow-open>
      <span class="header-btn-modal__name">Buy now</span>
    </button>
  </div>

  <section class="hero">
    <h1 class="hero-title">
      ice cream made with <span class="hero-title_upper">passion</span>
    </h1>

    <ul class="hero-menu">
      <li class="list hero-menu__list">
        <a class="link hero-menu__item" href="#products">Products</a>
      </li>
      <li class="list hero-menu__list">
        <a class="link hero-menu__item" href="#made">How it’s made?</a>
      </li>
    </ul>

    <div class="hero-text">
      <p class="hero-desc">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <a class="link hero-desc__link" href="#">
        <svg class="hero-desc__icon">
          <use href="./images/sprite1.svg#arrow-icon"></use>
        </svg>
      </a>
    </div>

    <ul class="hero-progress">
      <li class="list hero-progress__list">
        <p class="hero-progress__amount">16</p>
      </li>
      <li class="list hero-progress__list">
        <p class="hero-progress__products">cafes</p>
      </li>
      <li class="list hero-progress__list">
        <p class="hero-progress__amount">23</p>
      </li>
      <li class="list hero-progress__list">
        <p class="hero-progress__products">food trucks</p>
      </li>
    </ul>
  </section>
</header>
