<!-- --Modal window Our location-- -->

<div class="backdrop is-hidden" data-modal-map="">
    <div class="modal">
        <button type="button" class="modal-close-btn" data-modal-map-close="">
            <svg class="modal-close-btn-icon" width="12" height="12">
                <use href="./images/sprite.svg#icon-close-modal"></use>

            </svg>
        </button>
        <p class="modal-form-text">
            Our Locations
        </p>
        <div class="modal-map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d82744.74740947374!2d34.48719933844814!3d49.60202332133324!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d825e425e6ba6b%3A0xcf3e6bdfb9e4ca82!2z0J_QvtC70YLQsNCy0LAsINCf0L7Qu9GC0LDQstGB0YzQutCwINC-0LHQu9Cw0YHRgtGMLCAzNjAwMA!5e0!3m2!1suk!2sua!4v1662222144119!5m2!1suk!2sua"
                style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
            <div class="modal-button-wrapper">
            <a class="modal-open-map button-color link" 
            target="_blank" 
            href="https://goo.gl/maps/DC4DyfJQhU2LMTEr9">Open map</a>
        </div>
    </div>
</div>



<!-- --Modal window video-- -->

<div class="backdrop is-hidden" data-modal-video="">
    <div class="modal">
        <button type="button" class="modal-close-btn" data-modal-video-close="">
            <svg class="modal-close-btn-icon" width="12" height="12">
                <use href="./images/sprite.svg#icon-close-modal"></use>

            </svg>
        </button>
        <p class="modal-form-text">
            How it’s made?
        </p>
        <div class="modal-video">
            <iframe src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <p class="modal-video-descr">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor
        sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        </p>
    </div>
</div>



<!-- --Modal window Franchise-- -->

<div class="backdrop is-hidden" data-modal-franchise="">
    <div class="modal">
        <button type="button" class="modal-close-btn" data-modal-franchise-close="">
            <svg class="modal-close-btn-icon" width="12" height="12">
                <use href="./images/sprite.svg#icon-close-modal"></use>

            </svg>
        </button>
        <p class="modal-form-text">
            Thank you for your interest in owning an Ice Cream shop
        </p>
        <p class="modal-franchise-descr">
            Due to the overwhelming volume of franchise requests we are not accepting new franchisee applications at this time. Once
            the application process resumes, we will contact you for further information. Please fill out the contact information
            below and we will reach out for additional information. We appreciate your patience.
        </p>
        <form class="modal-form">
            <label class="modal-form-field">
                <span class="modal-form-input-wrapper">
                    <input type="text" name="user_name" class="modal-form-input" required="" pattern="[a-zA-Zа-яА-Я]+"
                        minlength="2" placeholder="Name">
                        
                </span>
            </label>
            <label class="modal-form-field">
                <span class="modal-form-input-wrapper">
                    <input type="tel" name="user_phone" class="modal-form-input" required=""
                        pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}" title="xxx-xxx-xx-xx" placeholder="Phone">
                </span>
            </label>
            <label class="modal-form-field">
                <span class="modal-form-input-wrapper">
                    <input type="email" name="user_email" class="modal-form-input" required="" placeholder="Email">     
                </span>
            </label>
            <label class="modal-form-field modal-form-comment">       
              <textarea name="user_message" class="modal-form-message" placeholder="Comment"></textarea>
            </label>   
            <button type="submit" class="modal-form-submit button-color">Submit</button>
        </form>
    </div>
</div>

<!-- --Modal window Buy now-- -->
<div class="backdrop is-hidden" data-modal-buynow="">
    <div class="modal">
        <button type="button" class="modal-close-btn" data-modal-buynow-close="">
            <svg class="modal-close-btn-icon" width="12" height="12">
                <use href="./images/sprite.svg#icon-close-modal"></use>
            </svg>
        </button>
        <p class="modal-form-text">
            Buy now
        </p>
        <div class="buy-now-items">
            <div class="buy-now-items__item icecream">
                <div class="buy-now-img-wrapper">
                    <picture>
                        <source srcset="./images/icecream_modal.jpg 1x, ./images/icecream_modal@2x.jpg 2x">
                        <img src="./images/icecream_modal.jpg" alt="icecream">
                    </picture>
                </div>
                <p class="buy-now-text">ice cream</p>
            </div>
            <div class="buy-now-items__item icecoffee">
                <div class="buy-now-img-wrapper">
                    <picture>
                        <source srcset="./images/icecoffee_modal.jpg 1x, ./images/icecoffee_modal@2x.jpg 2x">
                        <img src="./images/icecoffee_modal.jpg" alt="icecoffee">
                    </picture>
                </div>
                <p class="buy-now-text">ice coffee</p>
            </div>
            <div class="buy-now-items__item milkshake">
                <div class="buy-now-img-wrapper">
                    <picture>
                        <source srcset="./images/milkshake_modal.jpg 1x, ./images/milkshake_modal@2x.jpg 2x">
                        <img src="./images/milkshake_modal.jpg" alt="milkshake">
                    </picture>
                </div>
                <p class="buy-now-text">milkshake</p>
            </div>
        </div>
        <form class="modal-form">
            <label class="modal-form-field">
                <span class="modal-form-input-wrapper">
                    <input type="text" name="user_name" class="modal-form-input" required="" pattern="[a-zA-Zа-яА-Я]+"
                        minlength="2" placeholder="Name">
                </span>
            </label>
            <label class="modal-form-field">
                <span class="modal-form-input-wrapper">
                    <input type="tel" name="user_phone" class="modal-form-input" required=""
                        pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}" title="xxx-xxx-xx-xx" placeholder="Phone">
                </span>
            </label>
            <label class="modal-form-field modal-form-comment">
                <textarea name="user_message" class="modal-form-message" placeholder="Comment"></textarea>
            </label>
            <button type="submit" class="modal-form-submit button-color">Submit</button>
        </form>
    </div>
</div>


<div class="backdrop is-hidden" data-modal>
    <div class="modal-products">
        <button class="modal-close-btn" type="button" data-modal-close>
            <svg class="button-close" width="18" height="18">
                <use class="icon-form" href="./images/sprite.svg#icon-close-modal"></use>

            </svg>
        </button>
        <form class="form">
            <p class="modal-form-text">Chololate icecream</p>
            <div class="prod-label">
                
                <img class="pro-modal__img" srcset="./images/products/prod-modal.jpg 1x, ./images/products/prod-modal@2x.jpg 2x"
                    src="./images/products/prod-modal.jpg" alt="ice-cream">
                <div class="modal-ellipse"></div>
            </div>
            

            <ul class="prod-about">
                <li>
                        <div class="prod-group">
                            <ul>
                            <li class="prod-btn">320</li>
                            <li class="prod-oter">kcal</li>
                        </ul>
                    </div>    
                </li>
                <li>           
                        <div class="prod-group">
                            <ul>
                            <li class="prod-btn">4g</li>
                            <li class="prod-oter">Protein...</li>        
                    </ul>
                </div>
                </li>
                <li>
                        <div class="prod-group">
                            <ul>
                            <li class="prod-btn">8,2g</li>
                            <li class="prod-oter">Fats</li>                    
                    </ul>
                </div>
                </li>
                <li>
                    
                        <div class="prod-group">
                            <ul>
                            <li class="prod-btn">40,4g</li>
                            <li class="prod-oter">Carbs</li>    
                    </ul>
                </div>
                </li>
            </ul>
            <p class="prod-ingredients">Ingredients</p>
            <ul class="prod-ingredients_parts">
                <li class="prod-ingredients_item"><span>Milk</span><span>100ml</span></li>
                <li class="prod-ingredients_item"><span>Belgian chocolate</span><span>20g</span></li>
                <li class="prod-ingredients_item"><span>Cream</span><span>150ml</span></li>
                <li class="prod-ingredients_item"><span>Cocoa powder</span><span>30g</span></li>
                <li class="prod-ingredients_item"><span>Sugar</span><span>40g</span></li>
                <li class="prod-ingredients_item"><span>Vanilla sugar</span><span>10g</span></li>
            </ul>
            </form>
            <form class="modal-form">
                <label class="modal-form-field">
                    <span class="modal-form-input-wrapper">
                        <input type="text" name="user_name" class="modal-form-input" required="" pattern="[a-zA-Zа-яА-Я]+"
                            minlength="2" placeholder="Name">
            
                    </span>
                </label>
                <label class="modal-form-field">
                    <span class="modal-form-input-wrapper">
                        <input type="tel" name="user_phone" class="modal-form-input" required=""
                            pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}" title="xxx-xxx-xx-xx" placeholder="Phone">
                    </span>
                </label>
                <label class="modal-form-field modal-form-comment">
                    <textarea name="user_message" class="modal-form-message" placeholder="Comment"></textarea>
                </label>
                <button type="submit" class="modal-form-submit button-color button-prod">Submit</button>
            </form> 
    </div>
</div>

