<section class="products">
    <div class="container">
        <p class="label">100% natural</p>
        <h2 class="titel">products</h2>
        <ul class="product__list card-set list">
            <li class="product__item card-set__item green">
                <picture>
                    <source srcset="./src/images/logo.png" media="(min-width: 1200px)">
            
                    <source srcset="./src/images/logo.png" media="(min-width: 768px)">
            
                    <source srcset="./src/images/logo.png" media="(min-width: 320px)">
            
                    <img src="./src/images/logo.png" alt="kkll">
            
                </picture>
            
                <h3 class="product__titel">ice cream</h3>
                <p class="text">Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer
                </p>
                <button class="button-info" type="button">
                    <svg class="info-icon" width="20" height="20">
                        <use href="./src/images/logo.png">
                    </svg>
                </button>
            </li>
            <li class="product__item card-set__item yellow">
                <picture>
                    <source srcset="./src/images/logo.png" media="(min-width: 1200px)">
            
                    <source srcset="./src/images/logo.png" media="(min-width: 768px)">
            
                    <source srcset="./src/images/logo.png" media="(min-width: 320px)">
            
                    <img src="./src/images/logo.png" alt="gjj">
            
                </picture>
            
                <h3 class="product__titel">ice coffee</h3>
                <p class="text">Fragrant invigorating drink created from 100% natural ingredients without the use of preservatives
                    and flavor enhancers
                </p>
                <button class="button-info" type="button">
                    <svg class="info-icon" width="20" height="20">
                        <use href="./src/images/logo.png">
                    </svg>
                </button>
            </li>
            <li class="product__item card-set__item red">
                <picture>
                    <source srcset="./src/images/logo.png" media="(min-width: 1200px)">
            
                    <source srcset="./src/images/logo.png" media="(min-width: 768px)">
            
                    <source srcset="./src/images/logo.png" media="(min-width: 320px)">
            
                    <img src="./src/images/logo.png" alt="cvbv">
            
            
                </picture>
            
                <h3 class="product__titel">milkshakes</h3>
                <p class="text">Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and other sweets
                    of your choice
                </p>
                <button class="button-info" type="button">
                    <svg class="info-icon" width="20" height="20">
                        <use href="./src/images/logo.png">
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</section>