
.modal-button-wrapper {
    text-align: center;

}

.active-modal {
    overflow-y: hidden;
}

.backdrop {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    overflow-y: auto;

    &.is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
}

@media screen and (max-width:767px) {
    
    .modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 282px;
        height: auto;
        background-color: #ffffff;
        border-radius: 10px;
        padding: 28px 28px;
        height: auto;
        max-height: 80vh;
        overflow-y: scroll;
    }


        .modal-map {
            max-width: 100%;
            position: relative;
            margin-bottom: 24px;
            border-radius: 10px; 

            &>iframe {
                width: 100%;
                height: 199px;
            }
        }

        .modal-video {
            max-width: 100%;
            position: relative;
            border-radius: 10px;
            margin-bottom: 20px;

            &>iframe {
                    width: 100%;
                    height: 199px;
                }
        }

     .modal-video-descr, .modal-franchise-descr {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
     }

.modal-open-map {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    padding: 7px 37px;
    margin: 0 auto;
    display: inline-block;
    width: auto;
    text-align: center;

}

    .modal-close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border: none;
        padding: 0;
        background-color: transparent;
    }


    .modal-close-btn-icon {
        fill: currentColor;
        width: 12px;
        height: 12px;
    }


        .modal-form-text {
            font-family: 'Seymour One';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: var(--title-text-color--);
            margin-bottom: 20px;
        }

           .buy-now-items {
               display: flex;
               flex-direction: column;
           }

            .buy-now-items__item {
            filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
            border-radius: 15.7808px;
            margin: 0 auto;
            width: 130px;
            height: 135px;
            margin-bottom: 80px;
            padding: 95px 0 20px;
            text-align: center;
            position: relative;

                &.icecream {
                    border: 2px solid var(--background-icecream-modal-window);

                    & .buy-now-img-wrapper {
                    background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
                    box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);

                    }
                }


                &.icecoffee {
                    border: 2px solid var(--background-icecoffee-modal-window);
                    background: var(--background-icecoffee-modal-window);


                    & .buy-now-img-wrapper {
                    background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
                    box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
                    
                        }

                }

                &.milkshake {
                border: 2px solid var(--background-milkshake-modal-window);

                & .buy-now-img-wrapper {
                background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #D9D9D9;
                box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
                
                    }

                }

            }

            .buy-now-items__item:last-child {
                margin-bottom: 0px;
            }

            .buy-now-items__item:first-child {
                margin-top: 60px;
            }

            .buy-now-text {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 1.25;
                text-align: center;
                letter-spacing: 0.04em;
                text-transform: uppercase;
                    
            }


            .buy-now-img-wrapper {
                border-radius: 50%;
                background-color: #96AF8C;
                position: absolute;
                top: -60px;
                left: 0;
                padding-bottom: 8px;

                background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #D9D9D9;
                box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);

                    & img {
                        border-radius: 50%;
                    }

            }
}


@media screen and (min-width:768px) {
    .modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 568px;
        background-color: #ffffff;
        border-radius: 10px;
        padding: 32px 60px; 
        height: auto;
        max-height: 80vh;
        overflow-y: scroll;
    }


        .modal-map {
            max-width: 100%;
            position: relative;
            margin-bottom: 24px;
            border-radius: 10px;
    
            &>iframe {
                width: 100%;
                height: 260px;
            }
        }
    
        .modal-open-map {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 1.25;
            padding: 7px 37px;
            margin: 0 auto;
            display: inline-block;
            width: auto;
            text-align: center;

        }


        .modal-video {
            max-width: 100%;
            position: relative;
            border-radius: 10px;
            margin-bottom: 32px;

            &>iframe {
                width: 100%;
                height: 205px;
            }
        }

        .modal-video-descr, .modal-franchise-descr {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
        }


        .modal-form-text {
            font-family: 'Seymour One';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 28px;
            text-align: center;
            color: var(--title-text-color--);
            margin-bottom: 32px;
        }

    .modal-close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        padding: 0;
        background-color: transparent;
        border: none;
    }

    .modal-close-btn-icon {
        fill: currentColor;
        width: 12px;
        height: 12px;
    }

.buy-now-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 8px;
}

.buy-now-items__item {
    filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
    border-radius: 15.7808px;
    margin: 0 auto;
    width: 130px;
    height: 135px;
    padding: 95px 0 20px;
    text-align: center;
    position: relative;

    &.icecream {
        border: 2px solid var(--background-icecream-modal-window);

        & .buy-now-img-wrapper {
            background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
            box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);

        }
    }


    &.icecoffee {
        border: 2px solid var(--background-icecoffee-modal-window);
        background: var(--background-icecoffee-modal-window);


        & .buy-now-img-wrapper {
            background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
            box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);

        }

    }

    &.milkshake {
        border: 2px solid var(--background-milkshake-modal-window);

        & .buy-now-img-wrapper {
            background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #D9D9D9;
            box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);

        }

    }

}

.buy-now-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

}


.buy-now-img-wrapper {
    border-radius: 50%;
    background-color: #96AF8C;
    position: absolute;
    top: -60px;
    left: 0;
    padding-bottom: 8px;

    background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #D9D9D9;
    box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);

    & img {
        border-radius: 50%;
    }

}

}

