.modal-products {
    @media screen and (max-width:767px) {
    
            
                position: absolute;
                top: 65%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 282px;
                height: auto;
                background-color: #ffffff;
                border-radius: 10px;
                padding: 28px 28px;
    }
}
@media screen and (min-width:768px) {
    .modal-products {
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 568px;
        height: auto;
        background-color: #ffffff;
        border-radius: 10px;
        padding: 32px 60px;
    }
}


.prod-label {
    display: flex;
    // flex-direction: column;
    // justify-content: center;
    position: relative;
    justify-content: center;
}

// img
.pro-modal__img {
    
    border-radius: 50%;
    width: 131px;
    height: 131px;
    // position: absolute;

    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    // z-index: 1000;
    
}

.modal-ellipse {
    position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -45%);
        z-index: -1;

    border-radius: 50%;
    width: 131px;
    height: 131px;
    
    background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
    box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);

}

.prod-group {
    width: 53px;
    height: 72px;
    border-radius: 40px;


    border: 2px solid #9CBE8F;

    @media screen and (min-width: 768px) {
        
        width: 65px;
        height: 90px;

    }

    
    
}

.prod-btn {
    padding-top: 10%;
    text-align: center;
    transform: translateX(8%);

    font-size: 10px;
    line-height: 2.8;
    font-weight: 500;

    width: 43px;
    height: 43px;

    color: var(--primary-text-color);
        
        
    border-radius: 50%;
    background: #9CBE8F;
    border: 2px solid #9CBE8F;
    box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);

    @media screen and (min-width: 768px) {
        
        font-size: 12px;
        line-height: 1.4;

        width: 53px;
        height: 53px;
        padding-top: 25%;

    }

   
        
       
    
    
}

.prod-oter {
    text-align: center;
        
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;
        
    
    color: var(--primary-text-color);
    @media screen and (min-width: 768px) {
        font-size: 12px;
        line-height: 1.25;
        padding-top: 7px;
        
    }
}
.prod-ingredients {
    text-align: center;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.4;
    padding-bottom: 24px;
}

.prod-about {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 48px;

    padding-top: 29px;
}


.prod-ingredients_parts {
    display: flex;
    flex-direction: column;
    gap: 11px;
    margin-bottom: 48px;
}
.prod-ingredients_item {
    display: flex;
    justify-content: space-between;

    font-weight: 400;
    font-size: 14px;
    line-height: 176%;
        
    letter-spacing: 0.04em;
    
    color: var(--primary-text-color);
}
.button-prod {
    margin-top: 32px;
}