.about {
  padding-top: 60px;
}
.about-label {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 12px;

  color: var(--title-text-color-secondary);
}
.about-title {
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.27;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;

  color: var(--title-text-color-secondary);
}
.about-wrapper {
}
.about-wrapper__thumb {
  position: relative;
}
.box {
  width: 278px;
  height: 278px;
  border-radius: 50%;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.7),
      rgba(248, 210, 78, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
}
.about-image {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  transform: translate(-50%, -45%);
}
.about-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.75;

  text-align: center;
  letter-spacing: 0.04em;

  color: var(--title-text-color-secondary);
}
.about-button {
  width: 164px;
  height: 42px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.about-button__text {
  margin-right: 5px;
}
.about-button__icon {
  fill: black;
}
@media screen and (max-width: 767px) {
  .about-title {
    width: 200px;
  }
  .about-text--desktop {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .about-label {
    font-weight: 800;
    font-size: 22px;
    letter-spacing: 0.04em;
  }
  .about-title {
    font-size: 34px;
  }
  .about-wrapper {
    display: flex;
    align-items: flex-end;
  }
  .about-image {
    transform: translate(-50%, -53%);
  }
  .about-text {
    text-align: start;
    width: 336px;
    margin-bottom: 8px;
  }
  .about-button {
    margin-top: 48px;
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (max-width: 1199px) {
  .about-wrapper {
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .about-label {
    font-size: 30px;
  }
  .about-title {
    font-size: 36px;
  }
  .about-wrapper {
    align-items: center;
    gap: 100px;
  }
  .box {
    width: 500px;
    height: 529px;
    border-radius: 50%;
    background: linear-gradient(
        0deg,
        rgba(248, 210, 78, 0.7),
        rgba(248, 210, 78, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
  }
  .about-image {
    transform: translate(-50%, -50%);
  }
  .about-text {
    font-size: 16px;
    width: 463px;
  }
}
