
@media screen and (max-width:767px) {
    .section-advantages {
        padding-top: 42px;
        padding-bottom: 36px;
    }
    
    .advantages-list__icons-wrapper {
        margin-bottom: 16px;
    }
    .advantages-list__text-wraper {
        margin-top: 16px;
    }
    .advantages-list__title {
        margin-bottom: 18px;

        font-family: 'Roboto';
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        text-transform: uppercase;
        color: var(--title-text-color-secondary);      
}
        .advantages-list__text {
        margin-bottom: 28px;    
        font-weight: 700;
        font-size: 12px;
        line-height: 170%;
        text-align: center;
        color: var(--title-text-color-secondary);
        }
}

@media screen and (min-width:768px) and (max-width:1199px) {
    .section-advantages {
        padding-top: 53px;
        padding-bottom: 212px;
    }
    .advantages-list {
        display: flex;
        gap: 80px;
    }
    .advantages-list__text-wraper {
        margin-top: 32px;
    }

    .advantages-list__title {

        margin-bottom: 16px;

        font-weight: 700;
        font-size: 48px;
        line-height: 1.22;
        text-align: center;
        text-transform: uppercase;
        color: var(--title-text-color-secondary);
    }
    .advantages-list__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 174%;
        text-align: center;
        color: var(--title-text-color-secondary);
    }
}

@media screen and (min-width:1200px) {
    .section-advantages {
        padding-top: 60px;
        padding-bottom: 158px;
    }
    .advantages-list {
        display: flex;
        gap:32px;
    }
    .advantages-list__text-wraper {
        margin-top: 40px;
    }
    .advantages-list__title {
        margin-bottom: 16px;
        font-weight: 700;
        font-size: 58px;
        line-height: 1.22;
        text-align: center;
        text-transform: uppercase;
        color: var(--title-text-color-secondary);
    }
    .advantages-list__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 176%;
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--title-text-color-secondary);
    }
}

.advantages-list__icon {
    width: 36px;
    height: 36px;
    fill: var(--primary-text-color);
}

.advantages-list__icons-wrapper {

    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

    width: 50px;
    height: 50px;
    background-color: var(--button-color);
    border-radius: 50%;
}


// .advantages-list__icons-wrapper::before {
//     content: '';
//     display: block;
//     width: 50px;
//     height: 50px;
//     background-color: var(--button-color);
//     background-position: center; 
//     margin-left: auto;
//     margin-right: auto;
//     border-radius: 50%;
    
// }


// .advantages-list__icon::before {
//     content: '';
//     display: block;
//     background-image: url("../images/sprite.svg#icon-cow");
//     background-position: center; 
// }