
@media screen and (max-width:767px) {
    .section-advantages {
        padding-top: 42px;
        padding-bottom: 36px;
        padding-left: 45px;
        padding-right: 45px;
    }
    .advantages-list {
        text-align: center;
    }
    .advantages-list__icon {
        margin-bottom: 16px;
    }
    .advantages-list__title {
        margin-bottom: 18px;

        font-family: 'Roboto';
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        text-transform: uppercase;
        color: var(--title-text-color-secondary);      
}
        .advantages-list__text {
        margin-bottom: 28px;    
        font-weight: 700;
        font-size: 12px;
        line-height: 170%;
        text-align: center;
        color: var(--title-text-color-secondary);
        }
}

@media screen and (min-width:768px) and (max-width:1199px) {
    .section-advantages {
        padding-top: 53px;
        padding-bottom: 40px;
        padding-left: 76px;
        padding-right: 76px;
    }
    .advantages-list {
        display: flex;
        gap: 80px;
    }
    .advantages-list__icon {
        margin-bottom: 32px;
    }
    .advantages-list__title {
        font-weight: 700;
        font-size: 48px;
        line-height: 1.22;
        text-align: center;
        text-transform: uppercase;
        color: var(--text-color);
    }
    .advantages-list__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 174%;
        text-align: center;
        color: var(--text-color);
    }
}

@media screen and (min-width:1200px) {
    .section-advantages {
        padding-top: 60px;
        padding-bottom: 86px;
        padding-left: 16px;
        padding-right: 16px;
    }
    .advantages-list {
        display: flex;
        gap:32px;
    }
    .advantages-list__icon {
        margin-bottom: 40px;
    }
    .advantages-list__title {
        font-weight: 700;
        font-size: 58px;
        line-height: 1.22;
        text-align: center;
        text-transform: uppercase;
        color: var(--title-text-color-secondary);
    }
    .advantages-list__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 176%;
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--title-text-color-secondary);
    }
}

.advantages-list__icon {
    width: 36px;
    height: 36px;
}