// .footer {
// }
// .container {
// }
// .footer-tagline {
// }
// .footer-tagline_thin {
// }
// .footer-tagline_thick {
// }
// .footer-contact {
// }
// .footer-contact__list {
// }
// .list {
// }
// .footer-contact__social {
// }
// .link {
// }
// .footer-contact__link-social {
// }
// .footer-contact__text {
// }
// .footer-contact__tel {
// }
// .copyright {
// }
.copyright__text {
    padding-top: 16px;
    border-top: 1px solid #E1E1E1;
    color: #7A7A7A;
}