@media screen and (max-width: 767px) {
  .header-btn-modal {
    display: none;
  }

  .hero-text {
    display: none;
  }

  .hero-progress {
    display: none;
  }

  .hero-many-ice-cream {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .header-nav {
    display: none;
  }
}

.header-container {
  padding-top: 12px;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 61px;
}

.header-logo {
  outline: none;
}

.header-logo__icon {
  width: 40px;
  height: 37px;
  fill: var(--button-color);
}

.header-btn-burger__icon-burger {
  width: 20px;
  height: 12px;
  fill: #ffffff;
}

.header-btn-burger {
  outline: none;
  border: none;
  background-color: inherit;
  width: 38px;
  height: 38px;

  margin-left: auto;
}

.hero-title {
  display: block;
  width: 247px;

  @include font(26px, 400, 1.23);
  font-family: 'Seymour One';
  text-transform: uppercase;
  color: var(--title-text-color-secondary);
  text-align: left;

  margin-bottom: 32px;
}

.hero-title_upper {
  @include font(34px, 400, 0.97);
}

.hero-menu__list {
  display: flex;
  align-items: center;
}

.hero-menu__item_pr {
  display: block;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 14px;
  padding-right: 14px;

  outline: none;
  border: 2px solid var(--button-color);
  border-radius: 10px;
  color: var(--button-text-black);

  @include font(8px, 600, 1.25);

  transition: border-color var(--transition-func);

  &:focus,
  &:hover {
    border-color: var(--button-color-accent);
  }

  &:focus {
    color: var(--button-text-white);
  }
}

.hero-menu__item_md {
  padding-top: 9px;
  @include font(8px, 600, 1.25);
  outline: none;
  color: var(--button-color);
  text-decoration: underline;
  transition: color var(--transition-func);

  &:focus,
  &:hover {
    color: var(--button-color-accent);
  }

  &:focus {
    color: var(--button-text-white);
  }
}

.hero-menu {
  display: block;
  display: flex;
  align-items: flex-start;
}

.hero-menu__list:not(:last-child) {
  margin-right: 18px;
}

.hero {
  position: relative;
  height: 380px;
  max-width: 480px;
  background-image: url('../images/hero/drops/mobile/drops.png');
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}

.hero-big-ice-cr {
  position: absolute;
  left: 27%;
  bottom: 0;
  filter: drop-shadow(0px 0px 54px #fcfcfc);
}

.hero-big-ice-cr_gr {
  width: 102px;
  height: 79px;
  position: absolute;
  top: 1%;
  left: 37%;
}

.hero-big-ice-cr_r {
  width: 105px;
  height: 81px;
  position: absolute;
  top: 36%;
  left: 40%;
}

.hero-big-ice-cr_y {
  width: 82px;
  height: 71px;
  position: absolute;
  top: 19%;
  left: 7%;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: url('../images/hero/drops/mobile/drops@2x.png');
  }
}

@media screen and (min-width: 768px) {
  .header-logo__icon {
    width: 48px;
    height: 44px;
  }

  .header-btn-burger {
    margin-right: 31px;
    z-index: 900;
  }

  // .header-btn-burger {z-index: 900}
  .header-btn-modal {
    display: flex;
    align-items: center;
    gap: 7px;
    outline: none;

    padding: 12px 34px;
    z-index: 900;

    @include font(14px, 600, 1.21);

    border-radius: 10px;
    border: none;
    background-color: var(--button-color);
    color: var(--button-text-black);
    transition: background-color var(--transition-func);

    &:hover,
    &:focus {
      background-color: var(--button-color-accent);
    }
  }

  .header-btn-modal__icon {
    width: 12px;
    height: 12px;
    fill: currentColor;
  }

  .header {
    margin-bottom: 40px;
  }

  .hero {
    position: relative;
    height: 320px;
    max-width: 1199px;
    background-image: url('../images/hero/drops/tablet/drops.png');
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
  }

  .hero-big-ice-cr {
    position: absolute;
    left: 55%;
    bottom: 0;
    filter: drop-shadow(0px 0px 56px #fcfcfc);
  }

  .hero-big-ice-cr_gr {
    width: 160px;
    height: 120px;
    position: absolute;
    top: 0;
    left: 38%;
  }

  .hero-big-ice-cr_r {
    width: 150px;
    height: 120px;
    position: absolute;
    top: 38%;
    left: 44%;
  }

  .hero-big-ice-cr_y {
    width: 120px;
    height: 100px;
    position: absolute;
    top: 20%;
    left: 10%;
  }

  .hero-progress {
    position: absolute;
    top: 0;
    right: 0;
  }

  .hero-progress__amount {
    @include font(28px, 900, 1.21);
    margin-bottom: 4px;
  }

  .hero-progress__products {
    @include font(8px, 400, 1.25);
    color: var(--title-text-color-secondary);
    margin-bottom: 20px;
  }

  .hero-title {
    width: 183px;
    @include font(18px, 400, 1.28);
    margin-bottom: 21px;
  }

  .hero-title_upper {
    @include font(24px, 400, 0.54);
  }

  .hero-progress__list {
    text-align: right;
  }

  .hero-desc {
    width: 151px;
    margin-bottom: 32px;

    @include font(12px, 400, 1.42);
    color: var(--title-text-color-secondary);
  }

  .hero-desc__link {
    outline: none;
  }

  .hero-desc__icon {
    width: 40px;
    height: 16px;
    fill: var(--title-text-color-secondary);
  }

  .hero-many-ice-cream {
    width: 152px;
    height: 152px;
    position: absolute;
    bottom: 6%;
    left: 0;
  }

  .hero-text {
    position: absolute;
    left: 25%;
    bottom: 33px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: url('../images/hero/drops/tablet/drops@2x.png');
  }
}

@media screen and (min-width: 1200px) {
  .header-logo__icon {
    width: 60px;
    height: 65px;
    margin-right: 268px;
  }

  .header-nav__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 27px;
  }

  .header-nav__item {
    @include font(16px, 700, 1.25);
    color: var(--button-text-white);
    transition: color var(--transition-func);
    outline: none;

    &:hover,
    &:focus {
      color: var(--button-color);
    }
  }

  .header-btn-burger {
    display: none;
  }

  .header-btn-modal {
    margin-left: auto;
  }

  .header {
    margin-bottom: 45px;
  }

  .hero-title {
    width: 367px;
    @include font(38px, 400, 1.26);
    margin-bottom: 28px;
  }

  .hero-title_upper {
    @include font(38px, 400, 1.26);
  }

  .hero-text {
    position: absolute;
    left: 22%;
    bottom: 13%;
  }

  .hero-menu__item_pr {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 34px;
    padding-right: 34px;

    @include font(14px, 600, 1.29);
  }

  .hero-menu__item_md {
    padding-top: 14px;
    @include font(14px, 600, 1.29);
  }

  .hero-menu__list:not(:last-child) {
    margin-right: 34px;
  }

  .hero-progress__amount {
    @include font(46px, 900, 1.22);
    color: var(--primary-text-color);
    margin-bottom: 4px;
  }

  .hero-progress__products {
    @include font(14px, 400, 1.21);
    margin-bottom: 16px;
  }

  .hero-desc {
    width: 200px;
    margin-bottom: 32px;

    @include font(14px, 400, 1.43);
  }

  .hero {
    position: relative;
    height: 540px;
    max-width: 1400px;
    background-image: url('../images/hero/drops/desktop/drops.png');
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
  }

  .hero-big-ice-cr {
    filter: drop-shadow(0px 0px 100px #fcfcfc);
  }

  .hero-big-ice-cr_gr {
    width: 280px;
    height: 230px;
    position: absolute;
    top: -2%;
    left: 40%;
  }

  .hero-big-ice-cr_r {
    width: 250px;
    height: 230px;
    position: absolute;
    top: 37%;
    left: 46%;
  }

  .hero-big-ice-cr_y {
    width: 230px;
    height: 190px;
    position: absolute;
    top: 20%;
    left: 11%;
  }

  .hero-many-ice-cream {
    width: 225px;
    height: 225px;
    position: absolute;
    bottom: 13%;
    left: 0;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: url('../images/hero/drops/desktop/drops@2x.png');
  }
}
