.products {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 768px) {
        padding-top: 61px;
        padding-bottom: 82px;
    }

    @media screen and (min-width: 768px) {
        padding-top: 60px;
        padding-bottom: 66px;
    }
}

.products-overlay {
        margin-left: auto;
        margin-right: auto;
               
        
        background-image: url(../images/products/ice-bcg1_mob.jpg), url(../images/products/ice-bcg2_mob.jpg), url(../images/products/ice-bcg3_mob.jpg);
        
            @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
                background-image: url(../images/products/ice-bcg1_mob@2x.jpg), url(../images/products/ice-bcg2_mob@2x.jpg), url(../images/products/ice-bcg3_mob@2x.jpg);
            }
}

@media screen and (min-width: 768px) {
    .products-overlay {
        background-image: url(../images/products/ice-bcg_tab.jpg);
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
    .prducts-overlay {
        background-image: url(../images/products/ice-bcg_tab@2x.jpg);
    }
}

@media screen and (min-width: 1200px) {
    .prducts-overlay {
        background-image: url(../images/products/ice-bcg_desc.jpg);
    }

}


@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
screen and(min-resolution: 192dpi),
screen and(min-resolution: 2dppx) {
    .prducts-overlay {
        background-image: url(../images/products/ice-bcg_desc@2x.jpg);
    }

}

.label {
    font-weight: 800;
    font-size: 18px;
    line-height: 1.22;
        
    
    text-align: center;
    text-transform: uppercase;
    
    color: var(--title-text-color);

    @media screen and (min-width: 768px) {
        font-size: 22px;
        line-height: 1.22;
        
    }

    @media screen and (min-width: 1200px) {
        font-size: 30px;
        line-height: 1.23;
    
    }
}

.titel {
    margin-bottom: 148px;

    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.26;
        
    
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    
    color: var(--title-text-color);

    @media screen and (min-width: 768px) {
            font-size: 34px;
            line-height: 1.26;
    
        }
    
    @media screen and (min-width: 1200px) {
            font-size: 36px;
            line-height: 1.25;
            margin-bottom: 220px;
    
        }
    
}

.product__titel {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;

    padding-top: 150px;
    padding-bottom: 40px;


    @media screen and (min-width: 768px) {
            font-size: 22px;
            line-height: 1.22;
            padding-top: 130px;
    
        }
    
    @media screen and (min-width: 1200px) {
        font-size: 30px;
        line-height: 1.23;
        padding-top: 200px;
    
    }
}

.text {
    text-align: center;
    

    font-weight: 400;
    font-size: 14px;
    line-height: 176%;    
    letter-spacing: 0.04em;
    padding-bottom: 90px;
    
    color: var(--primary-text-color);

    @media screen and (min-width: 1200px) {
        font-size: 16px;
            
    
    }

}

.product__list {
    @media screen and (max-width: 767px) {
        display: flex;
        flex-direction: column;
        gap: 164px;

    }
    
    

    @media screen and (min-width: 768px) {
        display: flex;
        gap: 16px;
        
    }

    @media screen and (min-width: 768px) {
        gap: 32px;
    }


}




.product__item {
    position: relative;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;


    border: 1px;
    border-radius: 24px;
    padding-left: 40px;
    padding-right: 40px;
   

    @media screen and (min-width: 768px) {
        width: 370px;
        padding-left: 26px;
        padding-right: 26px;
        
       }

}

.green {
    background-color: #AEC6A5;
    
}

.yellow {
    background-color: #EFD478;
    
}

.red {
    background-color: #D6936D;
}
.product__img {
    border-radius: 50%;

    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    
    
}

.bcg-img {
    position: absolute;
    top: 3%;
    left: 50%;

    transform: translate(-50%, -50%);
    


    width: 200px;
    height: 200px;
    border-radius: 50%;



    @media screen and (min-width: 1200px) {
        width: 300px;
        height: 300px;
    
    }

}
.ellipse-green {
        background-color: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
        box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
        

}

.ellipse-yellow {
    background-color: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
    box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
}

.ellipse-red {
    background-color: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
    box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
}

.button-info {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    padding-bottom: 20px;

}



